body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.2;
}

.container {
    max-width: 935px;
    min-width: 320px;
    width: 95%;
    margin: 0 auto;
}

.row-flex {
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    /* из-за дублирования флексов флоатами
       вместо justify-content - отступы на колонках */
}

.col {
    float: left;
    box-sizing: border-box;
}

.col-info {
    width: 100%;
    flex: 0 0 100%;
}

.col-map {
    width: 100%;
    flex: 0 0 100%;
}

.title {
    font-weight: 300;
    font-size: 4.8em;
    color: #111111;
    margin-left: 0.25%;
}

.icons {
    margin: 3.9% 0 4%;
}

.icon {
    display: inline-block;
    font-size: 0;
    border-radius: 50%;
    text-decoration: none;
    background-size: cover;
    height: 34px;
    width: 34px;
    margin-left: 0.85%;

    /* Иконки не в svg, т.к. trace криво работает
       на маленьких иконках с мелкими деталями. */
    background: url('../img/icons.png') no-repeat;
}

.icon:first-child {
    margin-left: 0;
}

.ic-skier {
    background-position: center left;
}

.ic-lightning {
    background-position: center left -41px;
}

.ic-backpack {
    background-position: center left -82px;
}

.info {
    font-size: 1.8em;
    /* не совпадает с высотой из fireworks, подгнано по PP */
    line-height: 1.65;
    color: #444444;
    padding-left: 0.5%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: solid 2px #fa7205;
    min-width: 220px;
    box-sizing: border-box;
    padding: 2.2% 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
    width: 100%;
    margin-top: 5.8%;
}

.btn-simple {
    background: #fa7205;
    color: #ffffff;
}

.btn-drop {
    color: #fa7205;
}

.btn-drop::after {
    content: '';
    display: inline-block;
    background: url("../img/arrow.png") center/cover no-repeat;
    width: 20px;
    height: 11px;
    margin: 0 -3% 0 3.5%;
}

.map, .map a, .map img {
    display: block;
    font-size: 0;
    border-radius: 50%;
}

.map {
    margin-top: 9.5%;
}

.map a {
    text-decoration: none;
}

.map img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 560px) {
    .col-info, .col-map {
        width: 50%;
        flex-basis: 50%;
    }

    .col-map {
        padding-left: 2%;
    }

    .buttons {
        /* растягиваем кнопки */
        min-width: 200%;
    }

    .btn {
        width: 48.35%;
    }

    .btn:last-child {
        margin-left: 3.3%;
    }
}

@media screen and (min-width: 800px) {
    .col-info {
        width: 67%;
        flex-basis: 67%;
        padding-right: 1%;
    }

    .col-map {
        width: 33%;
        flex-basis: 33%;
        padding-left: 1%;
    }

    .buttons {
        min-width: 0;
    }

    .btn {
        width: auto;
        min-width: 220px;
    }
}

